@model SesionAppWebDemo.Models.Product

<form method="post" asp-controller="Product" asp-action="EditProduct">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" hidden/>
    <div class="row">
        <div class="col-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Descripción</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Stock</label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Fecha de registro</label>
                    <input asp-for="DateRegister" class="form-control" />
                    <span asp-validation-for="DateRegister" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Guardar" />
            <a asp-action="Index" class="btn btn-danger"> Cancelar</a>
        </div>
    </div>
</form>